body {

    background-color: #232020;
    font-family: 'Fjalla One', sans-serif;
    color: #ffffff;
    text-align: center;

}

h1 {
    display: none;
}

.box1 {
    padding-top: 15%;
    overflow: hidden;
    height: 100%;
}

p {
    font-size: 4em;

}

.small-icon {
    padding: 3%;
    display: inline-block;

}

.small-icon:hover {
    transform: scale(1.2);
    transition: 2s;
}

.linked {
    opacity: 0.3;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    p {
        font-size: 2em;

    }

    a {
        text-align: center;
        display: block;
        padding-top: 3%;
        padding-bottom: 3%;
    }

}
